<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="haffa.budgetgamer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".util.RetriveMyApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".data.SortingActivity"/>

        <service android:name=".data.GameWidgetRemoteViewsService"
        android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:name=".data.GameContentProvider"
            android:authorities="haffa.budgetgamer"></provider>

        <receiver android:name=".GameWidget">

            <action android:name="android.appwidget.action.ACTION_DATA_UPDATED"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/game_widget_info" />
        </receiver>
    </application>

</manifest>